In [1]:
from fredapi import Fred
from datetime import datetime, date, timedelta
from dateutil.relativedelta import relativedelta
from functools import reduce
import pandas as pd
from pandas_datareader import data as pdr
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
# Key: 02d60bd3174b5444867a02671ae80475
api_key = input("Please input your FRED API Key:\n").strip()
fred = Fred(api_key=api_key)

Please input your FRED API Key:
02d60bd3174b5444867a02671ae80475

In [3]:
def get_fred_series(name: str, date: str, label: str, to_frame: bool = True, pct_change: bool = False, periods: int = None, freq=None):
    """ Gets the FRED Series in Name, from Date, and inputs the data into a label 
        Assumes that data is in format of: "date", "value"
    """
    series = fred.get_series(name)
    if to_frame:
        series = series.to_frame()
    if pct_change:
        if not freq and not periods:
            series = series.pct_change()
        elif freq:
            series = series.pct_change(freq=freq)
        elif periods:
            series = series.pct_change(periods=periods)
    series = series.loc[date:]
    series[label] = series[0]
    return series.drop(columns = 0)

In [13]:
canada_recession = get_fred_series('CANRECDM', '1970-01-01', 'Recession')
canada_recession

            Recession
1970-01-01        1.0
1970-01-02        1.0
1970-01-03        1.0
1970-01-04        1.0
1970-01-05        1.0
...               ...
2019-10-27        0.0
2019-10-28        0.0
2019-10-29        0.0
2019-10-30        0.0
2019-10-31        0.0

[18201 rows x 1 columns]

In [5]:
canada_gdp = get_fred_series('MKTGDPCAA646NWDB', '1970-01-01', 'GDP')
canada_gdp

                     GDP
1970-01-01  8.789610e+10
1971-01-01  9.927196e+10
1972-01-01  1.130828e+11
1973-01-01  1.313219e+11
1974-01-01  1.604087e+11
1975-01-01  1.738340e+11
1976-01-01  2.065756e+11
1977-01-01  2.116122e+11
1978-01-01  2.186329e+11
1979-01-01  2.430721e+11
1980-01-01  2.738538e+11
1981-01-01  3.062149e+11
1982-01-01  3.135065e+11
1983-01-01  3.405477e+11
1984-01-01  3.553726e+11
1985-01-01  3.647565e+11
1986-01-01  3.774379e+11
1987-01-01  4.313167e+11
1988-01-01  5.073544e+11
1989-01-01  5.650557e+11
1990-01-01  5.939296e+11
1991-01-01  6.103282e+11
1992-01-01  5.923877e+11
1993-01-01  5.771708e+11
1994-01-01  5.781393e+11
1995-01-01  6.040316e+11
1996-01-01  6.285464e+11
1997-01-01  6.528239e+11
1998-01-01  6.318133e+11
1999-01-01  6.760840e+11
2000-01-01  7.422955e+11
2001-01-01  7.363798e+11
2002-01-01  7.579507e+11
2003-01-01  8.923824e+11
2004-01-01  1.023197e+12
2005-01-01  1.169358e+12
2006-01-01  1.315415e+12
2007-01-01  1.464977e+12
2008-01-01  1.549131e+12
2009-01-01  1.371153e+12
2010-01-01  1.613464e+12
2011-01-01  1.788648e+12
2012-01-01  1.828689e+12
2013-01-01  1.847209e+12
2014-01-01  1.803533e+12
2015-01-01  1.556130e+12
2016-01-01  1.528243e+12
2017-01-01  1.649878e+12
2018-01-01  1.716263e+12
2019-01-01  1.736426e+12

In [15]:
canada_gdp_pctcg = get_fred_series('MKTGDPCAA646NWDB', '1970-01-01', 'GDP_%Change', pct_change=True)
canada_gdp_pctcg

            GDP_%Change
1970-01-01     0.110523
1971-01-01     0.129424
1972-01-01     0.139121
1973-01-01     0.161289
1974-01-01     0.221493
1975-01-01     0.083695
1976-01-01     0.188349
1977-01-01     0.024381
1978-01-01     0.033177
1979-01-01     0.111782
1980-01-01     0.126636
1981-01-01     0.118169
1982-01-01     0.023812
1983-01-01     0.086254
1984-01-01     0.043532
1985-01-01     0.026406
1986-01-01     0.034767
1987-01-01     0.142749
1988-01-01     0.176292
1989-01-01     0.113730
1990-01-01     0.051099
1991-01-01     0.027610
1992-01-01    -0.029395
1993-01-01    -0.025687
1994-01-01     0.001678
1995-01-01     0.044786
1996-01-01     0.040585
1997-01-01     0.038625
1998-01-01    -0.032184
1999-01-01     0.070069
2000-01-01     0.097934
2001-01-01    -0.007969
2002-01-01     0.029293
2003-01-01     0.177362
2004-01-01     0.146590
2005-01-01     0.142848
2006-01-01     0.124904
2007-01-01     0.113699
2008-01-01     0.057444
2009-01-01    -0.114889
2010-01-01     0.176721
2011-01-01     0.108576
2012-01-01     0.022386
2013-01-01     0.010127
2014-01-01    -0.023644
2015-01-01    -0.137177
2016-01-01    -0.017920
2017-01-01     0.079591
2018-01-01     0.040236
2019-01-01     0.011748

In [17]:
unemp = get_fred_series('LRUNTTTTCAM156S', '1970-01-01', 'Unemp')
unemp = unemp.iloc[::3, :]
unemp

            Unemp
1970-01-01    4.5
1970-04-01    5.4
1970-07-01    6.4
1970-10-01    6.0
1971-01-01    6.2
...           ...
2019-10-01    5.6
2020-01-01    5.5
2020-04-01   13.0
2020-07-01   10.9
2020-10-01    8.9

[204 rows x 1 columns]

In [23]:
unemp_pct = get_fred_series('LRUNTTTTCAM156S', '1970-01-01', 'Unemp % Change', pct_change=True, periods=3).iloc[::3, :]
unemp_pct

            Unemp % Change
1970-01-01       -0.042553
1970-04-01        0.200000
1970-07-01        0.185185
1970-10-01       -0.062500
1971-01-01        0.033333
...                    ...
2019-10-01       -0.017544
2020-01-01       -0.017857
2020-04-01        1.363636
2020-07-01       -0.161538
2020-10-01       -0.183486

[204 rows x 1 columns]

In [26]:
nascom_pct = get_fred_series('NASDAQCOM', '1970-01-01', 'NASDAQCOM % Chg', pct_change=True, freq='Q')
nascom_pct = nascom_pct.loc[nascom_pct['NASDAQCOM % Chg'].notnull() == True]
nascom_pct.index = nascom_pct.index + pd.Timedelta('1 day')
nascom_pct

            NASDAQCOM % Chg
1971-04-01         0.059700
1971-07-01         0.017269
1971-10-01         0.011410
1972-01-01         0.046684
1972-04-01         0.122853
...                     ...
2019-10-01        -0.011349
2020-01-01         0.121668
2020-04-01        -0.141821
2020-07-01         0.306317
2020-10-01         0.110226

[140 rows x 1 columns]

In [29]:
bond10y = get_fred_series('IRLTLT01CAM156N', '1970-01-01', '10Y-bonds')
bond10y

            10Y-bonds
1970-01-01   8.340000
1970-02-01   8.210000
1970-03-01   8.050000
1970-04-01   7.880000
1970-05-01   8.180000
...               ...
2020-06-01   0.561364
2020-07-01   0.516364
2020-08-01   0.563500
2020-09-01   0.558000
2020-10-01   0.600000

[610 rows x 1 columns]

In [31]:
canada_inflation = get_fred_series('FPCPITOTLZGCAN', '1970-01-01', 'Inflation')
canada_inflation

            Inflation
1970-01-01   3.346040
1971-01-01   2.704918
1972-01-01   4.988029
1973-01-01   7.487647
1974-01-01  10.997171
1975-01-01  10.672189
1976-01-01   7.541739
1977-01-01   7.976445
1978-01-01   8.973723
1979-01-01   9.144677
1980-01-01  10.129221
1981-01-01  12.471612
1982-01-01  10.768972
1983-01-01   5.863588
1984-01-01   4.304778
1985-01-01   3.962031
1986-01-01   4.194786
1987-01-01   4.356109
1988-01-01   4.028234
1989-01-01   4.983622
1990-01-01   4.780477
1991-01-01   5.625864
1992-01-01   1.490133
1993-01-01   1.865079
1994-01-01   0.165563
1995-01-01   2.148760
1996-01-01   1.570531
1997-01-01   1.621216
1998-01-01   0.995942
1999-01-01   1.734843
2000-01-01   2.719440
2001-01-01   2.525120
2002-01-01   2.258394
2003-01-01   2.758563
2004-01-01   1.857259
2005-01-01   2.213552
2006-01-01   2.002025
2007-01-01   2.138384
2008-01-01   2.370271
2009-01-01   0.299467
2010-01-01   1.776872
2011-01-01   2.912135
2012-01-01   1.515678
2013-01-01   0.938292
2014-01-01   1.906636
2015-01-01   1.125241
2016-01-01   1.428760
2017-01-01   1.596884
2018-01-01   2.268226
2019-01-01   1.949269

In [32]:
canada_employees = get_fred_series('LFEAMNTTCAM647S', '1970-01-01', 'ManufactureEmps')
canada_employees

            ManufactureEmps
1995-01-01        1894000.0
1995-02-01        1896800.0
1995-03-01        1895700.0
1995-04-01        1894100.0
1995-05-01        1920700.0
...                     ...
2020-06-01        1598000.0
2020-07-01        1627300.0
2020-08-01        1656700.0
2020-09-01        1724700.0
2020-10-01        1720400.0

[310 rows x 1 columns]

In [34]:
canada_employees_chg = get_fred_series('LFEAMNTTCAM647S', '1970-01-01', 'ManuEmps % Change', pct_change = True).dropna()
canada_employees_chg

            ManuEmps % Change
1995-02-01           0.001478
1995-03-01          -0.000580
1995-04-01          -0.000844
1995-05-01           0.014044
1995-06-01          -0.007653
...                       ...
2020-06-01           0.053603
2020-07-01           0.018335
2020-08-01           0.018067
2020-09-01           0.041045
2020-10-01          -0.002493

[309 rows x 1 columns]