# Project 2

### Dependencies
- Pip Packages
    - fredapi
    - pandas
- General
    - FRED API Key

In [20]:
#pip install pandas_datareader
#You may need to uncomment above line and run so you have needed libraries

In [10]:
from fredapi import Fred
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import pandas as pd
from pandas_datareader import data as pdr
import numpy as np

## Get FRED Data

In [2]:
# Key: 02d60bd3174b5444867a02671ae80475
api_key = input("Please input your FRED API Key:\n").strip()
fred = Fred(api_key=api_key)

Please input your FRED API Key:
02d60bd3174b5444867a02671ae80475

In [176]:
us_data.drop(us_data.index, inplace=True)
us_recession = fred.get_series('JHDUSRGDPBR').loc['1970-01-01':].to_frame()
us_recession['isUSRecession'] = us_recession[0]
us_recession = us_recession.drop(columns = 0)

us_gdp = fred.get_series('GDP').loc['1970-01-01':].to_frame()
us_gdp['US_GDP (Billions)'] = us_gdp[0]
us_gdp = us_gdp.drop(columns = 0)

sp500 = pdr.get_data_yahoo('^GSPC', start='1970-01-01', end=date.today())['Adj Close']
quarterly_sp500 = sp500.dropna(how = 'all').to_frame().resample('3M').mean().iloc[:len(us_gdp)]
quarterly_sp500.index = us_gdp.index

us_data = pd.merge(us_recession,us_gdp, how='outer', left_index=False, right_index=True)
#us_data = pd.merge(us_data,quarterly_sp500, how='outer', left_index=True, right_index=True)



japan_recession = fred.get_series('JPNRECP').loc['1970-01-01':].to_frame()
japan_recession['isJapanRecession'] = japan_recession[0]
japan_recession = japan_recession.drop(columns = 0)

japan_gdp = fred.get_series('JPNNGDP').loc['1970-01-01':'2019-10-01'].to_frame()
japan_gdp['Japan_GDP (Billions of Yen)'] = japan_gdp[0]
japan_gdp = japan_gdp.drop(columns = 0)

japan_data = pd.merge(japan_recession.iloc[::3, :],japan_gdp, how='outer', left_index=True, right_index=True)



UK_recession = fred.get_series('GBRRECDM').loc['1970-01-01':].to_frame()
UK_recession['isUKRecession'] = UK_recession[0]
UK_recession = UK_recession.drop(columns = 0)

UK_gdp = fred.get_series('UKNGDP').loc['1970-01-01':'2019-10-31'].to_frame()
UK_gdp['UK_GDP (Billions of Pounds)'] = UK_gdp[0]
UK_gdp = UK_gdp.drop(columns = 0)

UK_data = pd.merge(UK_recession.loc[UK_gdp.index], UK_gdp, how='outer', left_index=True, right_index=True)



china_recession = fred.get_series('CHNRECM').loc['1970-01-01':].to_frame()
china_recession['isChinaRecession'] = china_recession[0]
china_recession = china_recession.drop(columns = 0)
china_recession = china_recession.iloc[::12, :]

china_gdp = fred.get_series('MKTGDPCNA646NWDB').loc['1978-01-01':'2019-10-31'].to_frame()
china_gdp['China_GDP (Dollars)'] = china_gdp[0]
china_gdp = china_gdp.drop(columns = 0)

china_data = pd.merge(china_recession, china_gdp, how='outer', left_index=True, right_index=True)



euro_recession = fred.get_series('EUROREC').loc['1970-01-01':].to_frame()
euro_recession['isEuroRecession'] = euro_recession[0]
euro_recession = euro_recession.drop(columns = 0)

euro_gdp = fred.get_series('EUNNGDP').loc['1970-01-01':].to_frame()
euro_gdp['Euro_GDP (Millions of Euros)'] = euro_gdp[0]
euro_gdp = euro_gdp.drop(columns = 0)

euro_data = pd.merge(euro_recession.iloc[::3, :], euro_gdp.iloc[:-2], how='outer', left_index=True, right_index=True)



canada_recession = fred.get_series('CANRECDM').loc['1970-01-01':].to_frame()
canada_recession['isCanadaRecession'] = canada_recession[0]
canada_recession = canada_recession.drop(columns = 0)
canada_recession = canada_recession.loc[canada_gdp.index]

canada_gdp = fred.get_series('MKTGDPCAA646NWDB').loc['1970-01-01':].to_frame()
canada_gdp['Canada_GDP (Dollars)'] = canada_gdp[0]
canada_gdp = canada_gdp.drop(columns = 0)

canada_data = pd.merge(canada_recession, canada_gdp, how='outer', left_index=True, right_index=True)

#######################################################################################################

india_recession = fred.get_series('INDREC').loc['1970-01-01':].to_frame().resample('3M').mean().round()
india_recession['isIndiaRecession'] = india_recession[0]
india_recession = india_recession.drop(columns = 0)



germany_recession = fred.get_series('DEUREC').loc['1970-01-01':].to_frame().resample('3M').mean().round()
germany_recession['isGermanyRecession'] = germany_recession[0]
germany_recession = germany_recession.drop(columns = 0)



swiss_recession = fred.get_series('CHEREC').loc['1970-01-01':].to_frame().resample('3M').mean().round()
swiss_recession['isSwissRecession'] = swiss_recession[0]
swiss_recession = swiss_recession.drop(columns = 0)



korea_recession = fred.get_series('KORRECD').loc['1970-01-01':].to_frame().resample('3M').mean().round()
korea_recession['isKoreaRecession'] = korea_recession[0]
korea_recession = korea_recession.drop(columns = 0)



aus_recession = fred.get_series('AUSRECM').loc['1970-01-01':].to_frame().resample('3M').mean().round()
aus_recession['isAusRecession'] = aus_recession[0]
aus_recession = aus_recession.drop(columns = 0)



russia_recession = fred.get_series('RUSRECM').loc['1970-01-01':].to_frame().resample('3M').mean().round()
russia_recession['isRussiaRecession'] = russia_recession[0]
russia_recession = russia_recession.drop(columns = 0)

other_countries = [japan_recession, UK_recession, china_recession, euro_recession, canada_recession, india_recession, germany_recession, swiss_recession, korea_recession, aus_recession, russia_recession]

In [240]:
canada_recession = fred.get_series('CANRECDM').loc['1970-01-01':].to_frame()
canada_recession['isCanadaRecession'] = canada_recession[0]
canada_recession = canada_recession.drop(columns = 0)
canada_recession = canada_recession.loc[canada_gdp.index]

canada_gdp = fred.get_series('MKTGDPCAA646NWDB').loc['1970-01-01':].to_frame()
canada_gdp['Canada_GDP (Dollars)'] = canada_gdp[0]
canada_gdp = canada_gdp.drop(columns = 0)


canada_data = pd.merge(canada_recession, canada_gdp, how='outer', left_index=True, right_index=True)
canada_data

            isCanadaRecession  Canada_GDP (Dollars)
1970-01-01                1.0          8.789610e+10
1971-01-01                1.0          9.927196e+10
1972-01-01                0.0          1.130828e+11
1973-01-01                0.0          1.313219e+11
1974-01-01                1.0          1.604087e+11
1975-01-01                1.0          1.738340e+11
1976-01-01                0.0          2.065756e+11
1977-01-01                1.0          2.116122e+11
1978-01-01                0.0          2.186329e+11
1979-01-01                0.0          2.430721e+11
1980-01-01                0.0          2.738538e+11
1981-01-01                0.0          3.062149e+11
1982-01-01                1.0          3.135065e+11
1983-01-01                0.0          3.405477e+11
1984-01-01                0.0          3.553726e+11
1985-01-01                0.0          3.647565e+11
1986-01-01                1.0          3.774379e+11
1987-01-01                0.0          4.313167e+11
1988-01-01                0.0          5.073544e+11
1989-01-01                0.0          5.650557e+11
1990-01-01                1.0          5.939296e+11
1991-01-01                1.0          6.103282e+11
1992-01-01                1.0          5.923877e+11
1993-01-01                0.0          5.771708e+11
1994-01-01                0.0          5.781393e+11
1995-01-01                1.0          6.040316e+11
1996-01-01                1.0          6.285464e+11
1997-01-01                0.0          6.528239e+11
1998-01-01                0.0          6.318133e+11
1999-01-01                0.0          6.760840e+11
2000-01-01                0.0          7.422955e+11
2001-01-01                1.0          7.363798e+11
2002-01-01                0.0          7.579507e+11
2003-01-01                1.0          8.923824e+11
2004-01-01                0.0          1.023197e+12
2005-01-01                0.0          1.169358e+12
2006-01-01                0.0          1.315415e+12
2007-01-01                0.0          1.464977e+12
2008-01-01                1.0          1.549131e+12
2009-01-01                1.0          1.371153e+12
2010-01-01                0.0          1.613464e+12
2011-01-01                0.0          1.788648e+12
2012-01-01                1.0          1.828689e+12
2013-01-01                0.0          1.847209e+12
2014-01-01                0.0          1.803533e+12
2015-01-01                1.0          1.556130e+12
2016-01-01                1.0          1.528243e+12
2017-01-01                0.0          1.649878e+12
2018-01-01                1.0          1.716263e+12
2019-01-01                1.0          1.736426e+12

In [241]:
canada_gdp

            Canada_GDP (Dollars)
1970-01-01          8.789610e+10
1971-01-01          9.927196e+10
1972-01-01          1.130828e+11
1973-01-01          1.313219e+11
1974-01-01          1.604087e+11
1975-01-01          1.738340e+11
1976-01-01          2.065756e+11
1977-01-01          2.116122e+11
1978-01-01          2.186329e+11
1979-01-01          2.430721e+11
1980-01-01          2.738538e+11
1981-01-01          3.062149e+11
1982-01-01          3.135065e+11
1983-01-01          3.405477e+11
1984-01-01          3.553726e+11
1985-01-01          3.647565e+11
1986-01-01          3.774379e+11
1987-01-01          4.313167e+11
1988-01-01          5.073544e+11
1989-01-01          5.650557e+11
1990-01-01          5.939296e+11
1991-01-01          6.103282e+11
1992-01-01          5.923877e+11
1993-01-01          5.771708e+11
1994-01-01          5.781393e+11
1995-01-01          6.040316e+11
1996-01-01          6.285464e+11
1997-01-01          6.528239e+11
1998-01-01          6.318133e+11
1999-01-01          6.760840e+11
2000-01-01          7.422955e+11
2001-01-01          7.363798e+11
2002-01-01          7.579507e+11
2003-01-01          8.923824e+11
2004-01-01          1.023197e+12
2005-01-01          1.169358e+12
2006-01-01          1.315415e+12
2007-01-01          1.464977e+12
2008-01-01          1.549131e+12
2009-01-01          1.371153e+12
2010-01-01          1.613464e+12
2011-01-01          1.788648e+12
2012-01-01          1.828689e+12
2013-01-01          1.847209e+12
2014-01-01          1.803533e+12
2015-01-01          1.556130e+12
2016-01-01          1.528243e+12
2017-01-01          1.649878e+12
2018-01-01          1.716263e+12
2019-01-01          1.736426e+12

In [177]:
print(len(us_recession))
print(len(japan_recession))
print(len(UK_recession))
print(len(china_recession))
print(len(euro_recession))
print(len(canada_recession))
print(len(india_recession))
print(len(germany_recession))
print(len(swiss_recession))
print(len(korea_recession))
print(len(aus_recession))
print(len(russia_recession))

202
200
200
169
201
200
96
200
200
201
200
103

In [184]:
for i in other_countries:
    i.index = us_recession.index[:len(i.index)]

merge.drop(merge.index, inplace=True)
merge=pd.merge(us_recession,japan_recession, how='inner', left_index=True, right_index=True)
other_countries = [japan_recession, UK_recession, china_recession, euro_recession, canada_recession, india_recession, germany_recession, swiss_recession, korea_recession, aus_recession, russia_recession]
for i in other_countries[1:]:
    merge=pd.merge(merge,i, how='outer', left_index=True, right_index=True)

In [185]:
merge

,isUSRecession,isJapanRecession,isUKRecession,isChinaRecession,isEuroRecession,isCanadaRecession,isIndiaRecession,isGermanyRecession,isSwissRecession,isKoreaRecession,isAusRecession,isRussiaRecession
1970-01-01,1.0,0.0,1.0,1.0,0.0,1.0,NaN,0.0,0.0,1.0,0.0,NaN
1970-04-01,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN
1970-07-01,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,NaN
1970-10-01,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
1971-01-01,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-01-01,0.0,0.0,0.0,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN
2019-04-01,0.0,0.0,0.0,NaN,1.0,0.0,NaN,1.0,1.0,1.0,1.0,NaN
2019-07-01,0.0,0.0,0.0,NaN,1.0,0.0,NaN,1.0,1.0,0.0,1.0,NaN
2019-10-01,1.0,0.0,0.0,NaN,1.0,0.0,NaN,1.0,1.0,0.0,1.0,NaN
2020-01-01,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN

In [181]:
japan_recession

            isJapanRecession
1970-01-01               0.0
1970-04-01               1.0
1970-07-01               1.0
1970-10-01               1.0
1971-01-01               1.0
...                      ...
2018-10-01               1.0
2019-01-01               0.0
2019-04-01               0.0
2019-07-01               0.0
2019-10-01               0.0

[200 rows x 1 columns]