# Project 2

### Dependencies
- Pip Packages
    - fredapi
    - pandas
- General
    - FRED API Key

In [2]:
#pip install pandas_datareader
#You may need to uncomment above line and run so you have needed libraries

In [3]:
from fredapi import Fred
from datetime import datetime, date
from dateutil.relativedelta import relativedelta
import pandas as pd
from pandas_datareader import data as pdr

## Get FRED Data

In [ ]:
api_key = input("Please input your FRED API Key:\n").strip()
fred = Fred(api_key=api_key)

#### GDP

In [3]:
gdp = fred.get_series('GDP')
gdp = pd.DataFrame({"date": gdp.index, "gdp": gdp.values})
gdp

          date        gdp
0   1946-01-01        NaN
1   1946-04-01        NaN
2   1946-07-01        NaN
3   1946-10-01        NaN
4   1947-01-01    243.164
..         ...        ...
294 2019-07-01  21540.325
295 2019-10-01  21747.394
296 2020-01-01  21561.139
297 2020-04-01  19520.114
298 2020-07-01  21157.122

[299 rows x 2 columns]

In [4]:
unemp = fred.get_series('UNRATE')
unemp = pd.DataFrame({"date": unemp.index, "rate": unemp.values})
unemp

          date  rate
0   1948-01-01   3.4
1   1948-02-01   3.8
2   1948-03-01   4.0
3   1948-04-01   3.9
4   1948-05-01   3.5
..         ...   ...
869 2020-06-01  11.1
870 2020-07-01  10.2
871 2020-08-01   8.4
872 2020-09-01   7.9
873 2020-10-01   6.9

[874 rows x 2 columns]

In [5]:
sp500 = fred.get_series('SP500')
sp500 = pd.DataFrame({"date": sp500.index, "value": sp500.values})
sp500

           date    value
0    2010-11-29  1187.76
1    2010-11-30  1180.55
2    2010-12-01  1206.07
3    2010-12-02  1221.53
4    2010-12-03  1224.71
...         ...      ...
2605 2020-11-23  3577.59
2606 2020-11-24  3635.41
2607 2020-11-25  3629.65
2608 2020-11-26      NaN
2609 2020-11-27  3638.35

[2610 rows x 2 columns]

In [6]:
nasdaq = fred.get_series('NASDAQ100')
nasdaq = pd.DataFrame({"date": nasdaq.index, "value": nasdaq.values})
nasdaq

           date     value
0    1986-01-02    131.25
1    1986-01-03    130.55
2    1986-01-06    130.35
3    1986-01-07    132.79
4    1986-01-08    131.16
...         ...       ...
9100 2020-11-19  11985.43
9101 2020-11-20  11906.44
9102 2020-11-23  11905.94
9103 2020-11-24  12079.81
9104 2020-11-25  12152.22

[9105 rows x 2 columns]

In [7]:
djia = fred.get_series('DJIA')
djia = pd.DataFrame({"date": djia.index, "value": djia.values})
djia

           date     value
0    2010-11-29  11052.49
1    2010-11-30  11006.02
2    2010-12-01  11255.78
3    2010-12-02  11362.41
4    2010-12-03  11382.09
...         ...       ...
2605 2020-11-23  29591.27
2606 2020-11-24  30046.24
2607 2020-11-25  29872.47
2608 2020-11-26       NaN
2609 2020-11-27  29910.37

[2610 rows x 2 columns]

In [8]:
quarters = [1, 4, 7, 10]
daily = datetime.today().date() - relativedelta(years=30)
monthly = daily.replace(day=1)
quarterly = monthly.replace(month=min(quarters, key = lambda x : abs(x - daily.month)))
daily, monthly, quarterly

(datetime.date(1990, 11, 29),
 datetime.date(1990, 11, 1),
 datetime.date(1990, 10, 1))

In [9]:
gdp = gdp.iloc[gdp.loc[gdp['date'] == str(quarterly)].index[0]:]
gdp

          date        gdp
179 1990-10-01   6004.733
180 1991-01-01   6035.178
181 1991-04-01   6126.862
182 1991-07-01   6205.937
183 1991-10-01   6264.540
..         ...        ...
294 2019-07-01  21540.325
295 2019-10-01  21747.394
296 2020-01-01  21561.139
297 2020-04-01  19520.114
298 2020-07-01  21157.122

[120 rows x 2 columns]

In [10]:
unemp = unemp.iloc[unemp.loc[unemp['date'] == str(monthly)].index[0]:]
unemp

          date  rate
514 1990-11-01   6.2
515 1990-12-01   6.3
516 1991-01-01   6.4
517 1991-02-01   6.6
518 1991-03-01   6.8
..         ...   ...
869 2020-06-01  11.1
870 2020-07-01  10.2
871 2020-08-01   8.4
872 2020-09-01   7.9
873 2020-10-01   6.9

[360 rows x 2 columns]

In [11]:
nasdaq = nasdaq.iloc[nasdaq.loc[nasdaq['date'] == str(daily)].index[0]:]
nasdaq

           date     value
1280 1990-11-29    191.11
1281 1990-11-30    192.66
1282 1990-12-03    194.53
1283 1990-12-04    195.60
1284 1990-12-05    199.03
...         ...       ...
9100 2020-11-19  11985.43
9101 2020-11-20  11906.44
9102 2020-11-23  11905.94
9103 2020-11-24  12079.81
9104 2020-11-25  12152.22

[7825 rows x 2 columns]

In [15]:
sp500 = pdr.get_data_yahoo('^GSPC', start='1990-01-01', end=date.today())['Adj Close'].to_frame()
sp500

              Adj Close
Date
1990-01-02   359.690002
1990-01-03   358.760010
1990-01-04   355.670013
1990-01-05   352.200012
1990-01-08   353.790009
...                 ...
2020-11-20  3557.540039
2020-11-23  3577.590088
2020-11-24  3635.409912
2020-11-25  3629.649902
2020-11-27  3638.350098

[7789 rows x 1 columns]